
<p-button (click)="toggleDialog()" label="編輯其他"></p-button>
<p-dialog class="header" header="編輯項目" [(visible)]="isDialogVisibled" [modal]="true" (onHide)="doCloseDialog()">
  <ng-template pTemplate="content">
    <div class="p-input">
      <div class="box">
        <div class="inside">
          <label>date:</label>
          <p-calendar [(ngModel)]="date" format="yy/mm/dd" hourFormat="HH:mm" [showTime]="true" [readonlyInput]="true" [showIcon]="true" ></p-calendar>
        </div>
        <div class="inside">
          <label>author:</label>
        <input type="text" pInputText [(ngModel)]="article.author" />
        </div>
        <div class="inside">
          <label>category:</label>
        <input type="text" pInputText [(ngModel)]="article.category" />
        </div>
      </div>

      <div class="box">
        <div class="inside">
           <label>title:</label>
           <input type="text" pInputText [(ngModel)]="article.title" [ngStyle]="{'width': '45vw'}" />
        </div>
      </div>

      <div class="box">
        <div class="inside">
          <label>summary:</label>
          <p-editor [(ngModel)]="article.summary" [style]="{ width: '45vw' }"></p-editor>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <p-button label="取消修改" (click)="doCloseDialog()"></p-button>
    <p-button label="修改" (click)="doModifyArticle()"></p-button>
  </ng-template>
</p-dialog>
