:host ::ng-deep {
  & .p-dialog{
    height: 65vh;
    width: 50vw;

    & .p-dialog-header{
      background-color: #cceeff;
    }

    & .p-dialog-content{

      & .p-editor-container .p-editor-toolbar.ql-snow{
        width: 45vw;
      }
      & .p-input{
        padding: 10px;
        width: 100%;
        .box {
          width: 100%;
          display: flex;
          .inside{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 0.5rem 0.5rem;
            font-weight: bold;

            & .p-editor{
              height: 50vh;
            }

            & .p-calendar{
              & .p-button{
                background-color: #99ddff;
                border-color: #99ddff;
                color: black;
              }
              .p-datepicker table td {
                padding: 0rem;
              }
              .p-timepicker{
                height: 7vh;
              }
            }
          }
        }
      }
    }

    & .p-dialog-footer{
      border-color: black;
      & .p-button{
        background-color: white;
        color: black;
        border-color: black;
      }
    }

  }
}
