<div class="body">
  <!-- Article START-->
<div class="article">
  <article class="post" id="post{{idx}}" *ngFor="let item of articles(); let idx=index">
    <p-panel>
      <ng-template pTemplate="header" style="background-color: antiquewhite;">
        <his-article-header [item]="item" (delete)="onRemoveArticle($event)" (titleChanged)="onModifyArticle($event)"></his-article-header>
      </ng-template>
      <his-article-body [item]="item"></his-article-body>
    </p-panel>
  </article>
</div>
<!-- Article END-->

  <div class="sidebar">
    <his-article-sidebar></his-article-sidebar>
  </div>
</div>

