:host ::ng-deep {

  .body{
    display: flex;

    & .post{
      padding: 1rem;
      width: 100%;

      & .dialog{
        display: flex;
        justify-content: flex-end;

        & .p-button{
          background-color: #ffcc00;
          color: black;
          border-color: black;
          padding: 5px;
          text-align: right;
        }
      }
    }

    & .sidebar{
      width: 100%;
    }
  }

}
