:host ::ng-deep{

  .sidebar{
  padding: 1rem;
  width: 100%;

  & .p-calendar{
    width: 30vw;
  }

  & .p-menu{
    width: 30vw;
    margin-top: 1rem;
  }

  & .p-card{
    width: 30vw;
    margin-top: 1rem;
    & .p-card-title{
      font-size: 18px;
    }
  }
}
}

