<div class="sidebar">
  <div>
    <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
  </div>
  <div class="menu">
    <p-menu [model]="sidebarTitle.items"></p-menu>
  </div>
  <div class="video">
    <p-card header="Angular 學習影片">
        <a href="https://hetw.sharepoint.com/:f:/s/Angular/Ep7e8y8pynpHtqsVqDeiXbIBOMpMkbZlcEvJZZEoQeIZUQ?e=n4SUNm">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
          width="100px" height="100px"></a>
    </p-card>
  </div>
</div>
