:host ::ng-deep{

  .post-header{

    & .p-inputtext {
      width: 100%;
    }

    & .post-info{
      display: flex;
      align-items: center;

      & .area {
        margin: 0rem 0.5rem;
      }

      & .p-button{
        background-color: white;
        color: black;
        border-color: black;
        padding: 3px;
        margin: 0.5rem
      }

    }

  }
}
