:host ::ng-deep{
  .p-organizationchart{
    background-color: white;
    height: 100%;
    padding: 5rem;
  }

  .p-organizationchart .p-organizationchart-node-content{
  background-color: #e6e6e6 ;
  border-color: black;
  color: black;
  }
}
